@model Store

@{
    ViewData["Title"] = "View";
}

<style>
    .profile-image {
        width: 150px; /* largura da imagem */
        height: 150px; /* altura da imagem */
        border-radius: 5%;
        border: 1px solid grey; /* borda branca */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* sombra suave */
        ]
    }
</style>

<div class="row">
    <div class="col-6 d-flex">
        <img class="profile-image" src="data:image/jpg;base64,@Model.ImageBase64" style="width: 100px; height: 100px" />
        <div>
            <h2 class="ms-2">@Model.Name</h2>
            <h6 class="ms-2">Endereço: @Model.Address</h6>
            <h6 class="ms-2">Telefone: @Model.Phone</h6>
        </div>
    </div>
    <div class="col-6 d-flex justify-content-end align-items-start">
        <a class="btn btn-primary me-2" asp-action="Index">
            Voltar
        </a>
        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@Model.Id">
            Excluir
        </a>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-12 d-flex gap-2">
        <a class="btn btn-primary w-100" asp-action="Edit" asp-route-id="@Model.Id">
            <i class="fa-solid fa-edit"></i><br />
            Gerenciar estabelecimento
        </a>

        <a class="btn btn-primary w-100" asp-action="TableManagement" asp-route-id="@Model.Id">
            <i class="fa-solid fa-link"></i><br />
            Gerenciador de assentos
        </a>

        <a class="btn btn-primary w-100" asp-controller="Table" asp-action="Index" asp-route-id="@Model.Id">
            <i class="fa-solid fa-link"></i><br />
            Gerenciador de mesas
        </a>
    </div>
</div>