@model IList<Table>

@{
    var storeId = ViewData["StoreId"];
}

<div class="d-flex flex-column">
    <div class="row">
        <div class="col-6">
            <h4>Gerenciar mesas</h4>
        </div>
        <div class="col-6 d-flex justify-content-end">
            <a class="btn btn-primary me-2" asp-controller="Store" asp-action="Details" asp-route-id="@storeId">Voltar</a>
            <a class="btn btn-primary" asp-controller="Table" asp-action="Create" asp-route-id="@storeId">Adicionar nova mesa</a>
        </div>
    </div>

    <hr />

    <div class="mt-2">
        @if (Model.Any())
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(x => x[0].Identifier)
                        </th>
                        <th>
                            @Html.DisplayNameFor(x => x[0].SeatsNumber)
                        </th>
                        <th>
                            @Html.DisplayNameFor(x => x[0].IsAvailableDisplay)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr id="tr-table-@item.Id">
                            <td>
                                @Html.DisplayFor(modelItem => item.Identifier)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SeatsNumber)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IsAvailableDisplay)
                            </td>
                            <td class="d-flex gap-2">
                                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">
                                    <i class="fa fa-edit"></i>
                                </a>
                                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">
                                    <i class="fa fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <div class="col-12">
                <div class="alert alert-info" role="alert">
                    Você ainda não cadastrou nenhuma mesa.
                </div>
            </div>
        }
    </div>
</div>