@model IList<Domain.Entities.Table>

<div class="mt-4 d-flex flex-column">
    <div class="row">
        <div class="col-6">
            <h4>Gerenciar mesas</h4>
        </div>
        <div class="col-6 d-flex justify-content-end">
            <a class="btn btn-primary" asp-page="../Table/Create" asp-route-storeId="7">Adicionar nova mesa</a>
        </div>
    </div>

    <hr />

    <div class="mt-2">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Identificador
                    </th>
                    <th>
                        Número de assentos
                    </th>
                    <th>
                        Mesa disponível
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Number)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SeatsNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IsAvailable)
                        </td>
                        <td class="d-flex gap-2">
                            <a class="btn btn-primary" asp-page="../Table/Edit" asp-route-id="@item.Id">
                                <i class="fa fa-edit"></i>
                            </a>
                            <form method="post" asp-page-handler="DeleteTable" asp-route-id="@item.Id">
                                <button class="btn btn-danger" type="submit">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>